@import url(https://fonts.googleapis.com/css?family=Oleo+Script:400,700);

/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
  text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
  font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #A52928;
  // background: url('/assets/images/sj_3.svg') no-repeat center center fixed;
  background-size: cover;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  @media @tablet {
    font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
}

.blank {
  background: #A52928;
}

* {
  box-sizing: border-box;
}

body:before{
  content: '';
  position: fixed;
  width: 100%;
  height: 0;
  bottom: -7px;
  z-index: 1;
  box-shadow: 0 0 19px 12px rgba(0,0,0,.7);
}

*:focus {
    outline: 0;
}
/* End Reset CSS
 * --------------------------------------- */

@import (inline) "./bower_components/fullpage.js/jquery.fullPage.css";

@xs-min: 480px;
@sm-min: 768px;
@md-min: 992px;
@lg-min: 1200px;

@xs-max: (@sm-min - 1);
@sm-max: (@md-min - 1);
@md-max: (@lg-min - 1);

@phone:          ~"only screen and (min-width: @{xs-min})";
@phone-strict:   ~"only screen and (min-width: @{xs-min}) and (max-width: @{xs-max})";
@tablet:         ~"only screen and (min-width: @{sm-min})";
@tablet-strict:  ~"only screen and (min-width: @{sm-min}) and (max-width: @{sm-max})";
@desktop:        ~"only screen and (min-width: @{md-min})";
@desktop-strict: ~"only screen and (min-width: @{md-min}) and (max-width: @{md-max})";
@large:          ~"only screen and (min-width: @{lg-min})";

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(30px);
  }
  60% {
    transform: translateY(15px);
  }
}

#menu {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 0;
  height: 40px;
  padding: 0;
  z-index: 70;
  width: 100%;
  margin: 0;
  text-align: center;
  @media @tablet {
    display: initial;
  }
}

#menu li {
  display: inline-block;
  margin: 10px 5px 0 5px;
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, .5);
  border-radius: 5px;
}

#menu li.active {
  background: #666;
  background: rgba(0, 0, 0, .5);
  color: #fff;
}

#menu li a,
#menu li.active a:hover {
  color: #000;
}

#menu li.active a {
  color: #fff;
}

#menu li:hover {
  background: rgba(255, 255, 255, .8)
}

#menu li a,
#menu li.active a {
  padding: 5px 10px;
  display: block;
  text-decoration: none;
}

#menu li.active a {
  color: #fff;
}

#menu li:hover {
  background: rgba(255, 255, 255, .8);
}

.bounce {
  animation: bounce 2s infinite;
}

.xo {
  background: url('http://i.imgur.com/PVsWKUM.png') no-repeat center center;
  height: 945px;
  width: 100%;
  position: relative;
}

.xo__h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  top: 1.8rem;
}

.xo__box {
  bottom: 100px;
  text-align: center;
  color: #fff;
}

.xo__h1,
.xo__box {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.xo__p,
.xo__p--subtext {
  font-weight: 600;
  font-size: 1.5rem;
}

.xo__p--subtext {
  font-size: 1.3rem;
  opacity: 0.5;
}

.xo__button {
  background: #CB1C01;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  padding: .5rem 2rem;
  border: 1px solid #9A4537;
  letter-spacing: .1rem;
  text-decoration: none;
  box-shadow: inset 0 0 24px -4px #000;
  outline: 0;
  &:hover {
    background: #780A02;
    box-shadow: inset 0 0 14px -4px #000;
  }
}

.rsvp_button {
  background: #4A90E2;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  padding: .5rem 2rem;
  border: 1px solid #3E7CC4;
  letter-spacing: .1rem;
  text-decoration: none;
  box-shadow: inset 0 0 24px -4px #000;
  outline: 0;
  &:hover {
    background: #3E7CC4;
    box-shadow: inset 0 0 14px -4px #000;
  }
  @media @tablet {
    font-size: 1.3rem;
  }
}

#fullpage-wedding,
#fullpage-wopwf {
  text-align: center;
  opacity: 0;
  transition: opacity 3s linear;
  a {
    color: #fff;
    font-weight: 800;
    text-decoration: underline;
    @media @tablet {
      font-weight: 400;
      text-decoration: none;
    }
  }
  a.rsvp_button {
    text-decoration: none;
  }
}

.fp-tableCell {
  padding: 20px;
  @media @tablet {
    padding: 0;
  }
}

.strapped {
  max-width: 550px;
  margin: 0 auto;
}

.strapped--wide {
  max-width: 750px;
  margin: 0 auto;
}

.h1, .h2, .h3 {
  font-family: 'Oleo Script', cursive;
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
}

.h1 {
  font-size: 38px;
  line-height: 1;
  @media @tablet {
    font-size: 48px;
    line-height: 1.4;
  }
}

.h1--with-dot {
  margin-bottom: 68px;
  position: relative;
  &:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -34px;
  }
}

.h2 {
  font-size: 28px;
  line-height: 1.4;
  @media @tablet {
    font-size: 33px;
    line-height: 1.4;
  }
}

.h3 {
  font-size: 24px;
  line-height: 1.4;
}

.p {
  line-height: 1.3;
  margin: 9px 0;
  font-size: 16px;
  color: #fff;
  @media @tablet {
    font-size: 18px;
  }
}

.p--small {
  font-size: 15px;
}

.p--title {
  font-weight: 600;
  margin-bottom: 20px;
  small {
    opacity: 0.7;
  }
}

.p--with-dot {
  margin-bottom: 68px;
  position: relative;
  &:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -34px;
  }
}

.center_me {
  margin: 0 auto;
}

.polaroid {
  padding: 10px;
  width: 516px;
  max-width: 95%;
  background: #fff;
  box-shadow: inset 0 0 14px -4px #000;
  margin-bottom: 20px;
}

.polaroid__image img {
  max-width: 100%;
  max-height: 100%;
}

.polaroid__text .h3 {
  margin: 10px 0 10px;
  color: #A52928;
  line-height: 1;
}


.arrow--down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #000;
  opacity: 0.3;
}

.img_circ {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px white solid;
  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
}

.map {
  margin-top: 10px;
  border: 10px white solid;
  line-height: 0;
  display: inline-block;
  width: 500px;
  max-width: 90%;
}

.registry-items {
  margin-top: 30px;
  p {
    font-size: 16px;
  }
  img {
    border: 5px solid #fff;
    border-radius: 5px;
  }
}

// WOPWF Special Stuff

.halfmoon {
  position: fixed;
  height:90px;
  width:190px;
  border-radius: 0 0 90px 90px;
  background: #ffe168;
  z-index: 1;
  top: -14px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: #F45248;
  font-weight: 600;
  padding-top: 25px;
  box-shadow: inset 0 0 14px -4px #000;
  cursor: pointer;
}
