extends layouts/master

block content

    div(id="xo" class="xo")
      h1(class="xo__h1") We're getting married
      div(class="xo__box")
        p(class="xo__p") Come join us September 17th + 18th 2016
        p
          a(class="xo__button" href="http://bit.ly/1NgTb6C" target="_blank") RSVP!
        p(class="xo__p--subtext") More details to follow!
