extends layouts/master

block content
  div(id="fullpage-wopwf")

    div(class="section active" id="section0")
      div(class="polaroid center_me")
        div(class="polaroid__image")
          img(src="/assets/images/wopwf.jpg")
        div(class="polaroid__text")
          <h1 class="h3">Weekend-O-Pre-Wedding-Fun</h1>
          <h2 class="h3">Here's what you need to know</h2>
      div(class="arrow--down center_me bounce")

    div(class="section" id="section1")
      div(class="center_me")
        p(class="h2") Join us Sat &amp; Sun July 30 - 31
        p(class="h2") Nelson, BC
        div(class="strapped")
          p(class="p" style="margin-top: 33px;") As you know, Stephen and Jacqui are getting married Sep 17/18 in France. We know it's far and so we figured we should do our Bachelor/ette party weekend in Nelson, BC!
          p(class="p") This is a family friendly weekend (minus the Saturday nght on the town) and we can't wait to meet/see all your little munchkins!
          p(class="p") Scroll down to see the schedule...

    div(class="section" id="section3")
      p(class="h1") What and When
      div(class="strapped--wide")
        p(class="p p--title") Friday, July 29
        p(class="p") For those that would like to join, dinner at Uptown Sports Bar in the Adventure Hotel, 6:30pm
        p(class="p p--with-dot p--small") **$14 Roast beef buffet (roast beef, another meat, yorkshire pudding, pasta, veggies, potatoes, salad, etc.) + Regular Menu

        p(class="p p--title") Saturday, July 30
        p(class="p") Float down the Slocan River around 12:00pm (a true Kootenay experience and LOADS of fun)
        p(class="p") Bachelor/ette night out on the town, around 8:00pm
        p(class="p p--with-dot" style="font-weight: 300") What to bring: Floatation device, bathing suit, and towels (sunscreen etc.), <br>Drinks of choice and koozies to keep them cold

        p(class="p p--title") Sunday, July 31
        p(class="p") BBQ, 1:00pm onward at our house - 523 Latimer St.
        p(class="p" style="font-weight: 300") What to bring: Drinks of choice and koozies to keep them cold. A dish to share would be appreciated!

    div(class="section" id="section4")
      p(class="h1 h1--with-dot") Getting to Nelson
      div(class="strapped--wide")
        p(class="p") Drive East about 8 hours from Vancouver
        p(class="p") Closest airport is Castlegar, 45 minute drive to Nelson (flight time is 1 hour from the coast)
